.hlx-ReviewWrapper {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    font-family: 'adobe-clean';
}

h3 {
    font-size: 30px;
    font-weight: 700;
    margin-right: 38px;
}

.hlx-Review {
    display: flex;
}

.hlx-Review-ratingFields,
.hlx-Review-commentFields {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
}

.hlx-Review-ratingFields label {
    appearance: none;
    visibility: collapse;
    width: 0;
}

.hlx-Review-ratingFields input[name='rating'] {
    margin: 0;
    background-image: url(../img/star-outline.svg);
    background-size: 100%;
    appearance: none;
    width: 30px;
    height: 30px;
}

.hlx-Review-ratingFields input[name='rating'].is-Active {
    background-image: url(../img/star-filled.svg);
}

.hlx-Review-commentFields {
    display: none;
    position: relative;
    margin-left: 19px;
}

.hlx-Review-commentFields.is-Visible {
    display: initial;
    margin-left: 19px;
}

.hlx-Review-commentFields input[type='submit'] {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: transparent;
    border: none;
    appearance: none;
    font-family: 'adobe-clean', Helvetica, sans-serif;
    font-weight: 700;
    color: #676767;
    font-size: 16px;
}

.hlx-Review-commentFields textarea#rating-comments {
    width: 326px;
    height: 96px;
    border-radius: 4px;
    border: 2px solid #b3b3b3;
    padding: 6px 58px 6px 8px;
    font-family: 'adobe-clean', Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    box-sizing: border-box;
}

.hlx-Review-commentFields textarea#rating-comments.is-Visible {
    display: flex;
}

.hlx-ReviewStats.is-Visible {
    display: initial;
}

.hlx-ReviewStats {
    display: none;
    font-size: 24px;
    margin-left: 38px;
}

.hlx-ReviewStats-average,
.hlx-ReviewStats-separator:first-of-type,
.hlx-ReviewStats-outOf {
    font-weight: 700;
}
